*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
hs_err_pid*.log
replay_pid*.log
*.jks
*.keystore
keystore.properties
*.apk
*.aab
/app/release/
firebase-debug.log
.kotlin/